<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <div class="header"> <h1 style="text-align: center; padding-top: 20px;color: white;
            text-shadow: 4px 4px 5px #000000;">This is the counter</h1>
        </div>
        <div class="main">
            <div class="counter">
                <h2 style="text-align: center;margin-top: 30px; font-size: 1.5 rem; color: white;
                text-shadow: 2px 2px 4px #000000; " id="nbv">Number of visitors</h2>
                <h3 style="text-align: center; margin-top: 30px;  text-shadow:2px 2px 5px rgb(99, 99, 220);">{{session['count']}} times</h3>
            </div>
            <div class="btn">
                <a class="btn btn-primary" href="/" role="button">Add visitors</a>
                <a class="btn btn-primary" href="/two" role="button">Add 2 visitors</a>

                <a class="btn btn-primary" href="/clear" role="button">Clear</a>

            </div>
        </div>
    </div>
</body>
</html>