#contShow{
    margin:50px 100px;
}
#headCard{
    margin-bottom: 50px; 
    margin-top: 100px;

}
#homeShow{
    margin-left: 80%;
}
#linkShow{
    margin-top: 30px;
}
#cardShow{
    width: 50%;
}

#cardShow :hover{

}
